// Colors

$color-black: #000000;
$color-white: #ffffff;

$color-primary: #ff5e14;
$color-primary-dark: #e65512;
$color-primary-light: #ff6e2c;

$color-secondary: #cbe4de;
$color-secondary-dark: #b7cdc8;
$color-secondary-light: #d0e7e1;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
