// Colors

$color-black: #000000;
$color-white: #ffffff;

$color-primary: #0e8388;
$color-primary-dark: #0d767a;
$color-primary-light: #268f94;

$color-secondary: #cbe4de;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
