@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  width: 100%;
  padding: 2rem 1rem;
  margin-top: 1rem;
  color: $color-secondary;
  background-color: $color-black;
  @include flex(row, 1rem, center, center);

  .wrapper {
    margin-top: 1rem;
    max-width: 100%;
    flex-wrap: wrap;
    @include flex(row, 1rem, flex-start, center);

    .parts {
      width: 20rem;
      height: 21rem;
      border-radius: 4px;
      padding: 1rem 3rem;
      background-color: #ffffff17;

      .links {
        font-size: 1.5rem;
      }

      .items {
        list-style: none;
        margin-top: 1rem;
        @include flex(column, 1rem, flex-start, center);

        li {
          transition: all 200ms;
          @include flex(row, 0.5rem, center, center);

          .logoWrapper {
            width: 2rem;
            height: 2rem;
            @include flex(row, center, center);

            .icon {
              color: $color-primary;
            }
          }

          &:hover {
            cursor: pointer;
            margin-left: 0.75rem;
          }
        }
      }
    }
  }
}
